In [1]:
# mount Google drive
from google.colab import drive
drive.mount('/content/drive')

# import relevant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

Mounted at /content/drive

#NFL QB Data Inspection

In [2]:
nfl = pd.read_csv('/content/drive/MyDrive/STAT520/qb_index_no_tier.csv')

In [3]:
nfl

,year-drafted,qb-num-picked,rd-picked,num-picked,name,height (in),weight (lbs),nfl-team,coach-tenure,drafted-team-winpr,...,nfl-int%,nfl-sack%,nfl-y/a,nfl-ay/a,nfl-any/a,nfl-y/c,nfl-y/g,nfl-succ%,nfl-4qc,nfl-gwd
0,2023,1,1,1,Bryce Young,70,204,Panthers,0,0.412,...,1.9,10.53,5.5,5.02,3.68,9.1,179.8,36.5,2,2
1,2023,2,1,2,C.J. Stroud,75,214,Texans,0,0.206,...,1.0,7.08,8.2,8.70,7.47,12.9,273.9,46.7,1,3
2,2023,3,1,4,Anthony Richardson,76,244,Colts,0,0.265,...,1.2,7.69,6.9,7.05,6.19,11.5,144.3,44.0,0,0
3,2023,4,2,33,Will Levis,75,229,Titans,5,0.412,...,1.6,9.89,7.1,7.01,5.66,12.1,200.9,37.1,1,1
4,2023,5,3,68,Hendon Hooker,76,217,Lions,2,0.529,...,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2000,8,6,202,Todd Husak,75,216,Redskins,0,0.625,...,0.0,0.00,-1.0,-1.00,-1.00,-1.0,-2.0,0.0,0,0
288,2000,9,6,205,JaJuan Seider,73,230,Chargers,1,0.500,...,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0,0
289,2000,10,7,212,Tim Rattay,72,215,49ers,3,0.250,...,3.2,8.11,6.8,6.22,5.23,11.2,121.3,43.8,1,1
290,2000,11,7,214,Jarious Jackson,72,226,Broncos,5,0.375,...,4.5,8.33,5.2,3.14,2.42,10.4,22.8,37.5,0,0
291,2000,12,7,234,Joe Hamilton,70,192,Buccaneers,4,0.688,...,0.0,100.00,0.0,0.00,-1.00,0.0,0.0,0.0,0,0

In [4]:
nfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 51 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year-drafted         292 non-null    int64
 1   qb-num-picked        292 non-null    int64
 2   rd-picked            292 non-null    int64
 3   num-picked           292 non-null    int64
 4   name                 292 non-null    object
 5   height (in)          292 non-null    int64
 6   weight (lbs)         292 non-null    int64
 7   nfl-team             292 non-null    object
 8   coach-tenure         292 non-null    int64
 9   drafted-team-winpr   292 non-null    float64
 10  drafted_team_ppg_rk  292 non-null    int64
 11  college              292 non-null    object
 12  conf                 292 non-null    object
 13  conf-str             292 non-null    float64
 14  p-cmp                292 non-null    int64
 15  p-att                292 non-null    int64
 16  cmp-pct              292 non-null    float64
 17  p-yds                292 non-null    int64
 18  p-ypa                292 non-null    float64
 19  p-adj-ypa            292 non-null    float64
 20  p-td                 292 non-null    int64
 21  int                  292 non-null    int64
 22  rate                 292 non-null    float64
 23  r-att                292 non-null    int64
 24  r-yds                292 non-null    int64
 25  r-avg                292 non-null    float64
 26  r-tds                292 non-null    int64
 27  nfl-starts           292 non-null    int64
 28  nfl-wins             292 non-null    int64
 29  nfl-losses           292 non-null    int64
 30  nfl-ties             292 non-null    int64
 31  nfl-winpr            292 non-null    float64
 32  nfl-qbr              292 non-null    float64
 33  nfl-cmp              292 non-null    int64
 34  nfl-att              292 non-null    int64
 35  nfl-inc              292 non-null    int64
 36  nfl-comp%            292 non-null    float64
 37  nfl-yds              292 non-null    int64
 38  nfl-tds              292 non-null    int64
 39  nfl-int              292 non-null    int64
 40  nfl-pick6            292 non-null    int64
 41  nfl-int%             292 non-null    float64
 42  nfl-sack%            292 non-null    float64
 43  nfl-y/a              292 non-null    float64
 44  nfl-ay/a             292 non-null    float64
 45  nfl-any/a            292 non-null    float64
 46  nfl-y/c              292 non-null    float64
 47  nfl-y/g              292 non-null    float64
 48  nfl-succ%            292 non-null    float64
 49  nfl-4qc              292 non-null    int64
 50  nfl-gwd              292 non-null    int64
dtypes: float64(18), int64(29), object(4)
memory usage: 116.5+ KB

In [5]:
nfl.shape

(292, 51)

#College QB Data Inspection

In [6]:
#url = "https://www.sports-reference.com/cfb/years/2025-passing.html"
#college = pd.read_html(url)[0]
#college.head()

In [7]:
#Turn the dataframe from link into CSV file

#college.to_csv("college_qb_2025.csv", index=False)

In [8]:
#Download the CSV file

#from google.colab import files
#files.download("college_qb_2025.csv")

In [9]:
#college.info()

In [10]:
collegeQB = pd.read_csv('/content/drive/MyDrive/STAT520/college_qb_2025.csv')
collegeQB

,Rk,Player,Team,Conf,G,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,Y/A,AY/A,Y/C,Y/G,Rate,Awards
0,1.0,Drew Mestemaker,North Texas,American,12.0,271.0,382.0,70.9,3835.0,29.0,7.6,4.0,1.0,10.0,11.09,14.2,319.6,178.2,NaN
1,2.0,Caden Veltkamp,Florida Atlantic,American,11.0,326.0,484.0,67.4,3458.0,24.0,5.0,15.0,3.1,7.1,6.74,10.6,314.4,137.5,NaN
2,3.0,Joe Fagnano,Connecticut,Ind,12.0,285.0,413.0,69.0,3448.0,28.0,6.8,1.0,0.2,8.3,9.60,12.1,287.3,161.0,NaN
3,4.0,Sawyer Robertson,Baylor,Big 12,11.0,281.0,458.0,61.4,3372.0,30.0,6.6,11.0,2.4,7.4,7.59,12.0,306.5,140.0,NaN
4,5.0,Nick Minicucci,Delaware,CUSA,11.0,279.0,445.0,62.7,3196.0,19.0,4.3,7.0,1.6,7.2,7.33,11.5,290.5,134.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,519.0,Wondame Davis Jr.,UTEP,CUSA,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,NaN,0.0,0.0,NaN
519,520.0,John White,Southern Mississippi,Sun Belt,1.0,1.0,1.0,100.0,-1.0,0.0,0.0,0.0,0.0,-1.0,-1.00,-1.0,-1.0,91.6,NaN
520,521.0,Daylan Smothers,North Carolina State,ACC,10.0,1.0,1.0,100.0,-4.0,0.0,0.0,0.0,0.0,-4.0,-4.00,-4.0,-0.4,66.4,NaN
521,522.0,Luke Watkins,Louisiana Tech,CUSA,8.0,1.0,1.0,100.0,-5.0,0.0,0.0,0.0,0.0,-5.0,-5.00,-5.0,-0.6,58.0,NaN
522,NaN,League Average,NaN,NaN,NaN,NaN,NaN,62.7,NaN,NaN,5.1,NaN,2.5,7.4,7.27,11.7,90.8,136.5,NaN

In [11]:
collegeQB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      522 non-null    float64
 1   Player  523 non-null    object
 2   Team    522 non-null    object
 3   Conf    522 non-null    object
 4   G       522 non-null    float64
 5   Cmp     522 non-null    float64
 6   Att     522 non-null    float64
 7   Cmp%    523 non-null    float64
 8   Yds     522 non-null    float64
 9   TD      522 non-null    float64
 10  TD%     523 non-null    float64
 11  Int     522 non-null    float64
 12  Int%    523 non-null    float64
 13  Y/A     523 non-null    float64
 14  AY/A    523 non-null    float64
 15  Y/C     447 non-null    float64
 16  Y/G     523 non-null    float64
 17  Rate    523 non-null    float64
 18  Awards  0 non-null      float64
dtypes: float64(16), object(3)
memory usage: 77.8+ KB

In [12]:
#Row Inspection
row_dict = collegeQB.iloc[522].to_dict()
for variable, value in row_dict.items():
    print(f"{variable}: {value}")

Rk: nan
Player: League Average
Team: nan
Conf: nan
G: nan
Cmp: nan
Att: nan
Cmp%: 62.7
Yds: nan
TD: nan
TD%: 5.1
Int: nan
Int%: 2.5
Y/A: 7.4
AY/A: 7.27
Y/C: 11.7
Y/G: 90.8
Rate: 136.5
Awards: nan

In [13]:
# Drop row with index 4701
collegeQB = collegeQB.drop(index=522)

# Reset the index for accurate row numbers
collegeQB = collegeQB.reset_index(drop=True)

In [14]:
collegeQB

,Rk,Player,Team,Conf,G,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,Y/A,AY/A,Y/C,Y/G,Rate,Awards
0,1.0,Drew Mestemaker,North Texas,American,12.0,271.0,382.0,70.9,3835.0,29.0,7.6,4.0,1.0,10.0,11.09,14.2,319.6,178.2,NaN
1,2.0,Caden Veltkamp,Florida Atlantic,American,11.0,326.0,484.0,67.4,3458.0,24.0,5.0,15.0,3.1,7.1,6.74,10.6,314.4,137.5,NaN
2,3.0,Joe Fagnano,Connecticut,Ind,12.0,285.0,413.0,69.0,3448.0,28.0,6.8,1.0,0.2,8.3,9.60,12.1,287.3,161.0,NaN
3,4.0,Sawyer Robertson,Baylor,Big 12,11.0,281.0,458.0,61.4,3372.0,30.0,6.6,11.0,2.4,7.4,7.59,12.0,306.5,140.0,NaN
4,5.0,Nick Minicucci,Delaware,CUSA,11.0,279.0,445.0,62.7,3196.0,19.0,4.3,7.0,1.6,7.2,7.33,11.5,290.5,134.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,518.0,Tyrell Henry,Wisconsin,Big Ten,9.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,NaN,0.0,0.0,NaN
518,519.0,Wondame Davis Jr.,UTEP,CUSA,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,NaN,0.0,0.0,NaN
519,520.0,John White,Southern Mississippi,Sun Belt,1.0,1.0,1.0,100.0,-1.0,0.0,0.0,0.0,0.0,-1.0,-1.00,-1.0,-1.0,91.6,NaN
520,521.0,Daylan Smothers,North Carolina State,ACC,10.0,1.0,1.0,100.0,-4.0,0.0,0.0,0.0,0.0,-4.0,-4.00,-4.0,-0.4,66.4,NaN
521,522.0,Luke Watkins,Louisiana Tech,CUSA,8.0,1.0,1.0,100.0,-5.0,0.0,0.0,0.0,0.0,-5.0,-5.00,-5.0,-0.6,58.0,NaN

#NonParametric

In [15]:
print(collegeQB.info())
print(nfl.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      522 non-null    float64
 1   Player  522 non-null    object
 2   Team    522 non-null    object
 3   Conf    522 non-null    object
 4   G       522 non-null    float64
 5   Cmp     522 non-null    float64
 6   Att     522 non-null    float64
 7   Cmp%    522 non-null    float64
 8   Yds     522 non-null    float64
 9   TD      522 non-null    float64
 10  TD%     522 non-null    float64
 11  Int     522 non-null    float64
 12  Int%    522 non-null    float64
 13  Y/A     522 non-null    float64
 14  AY/A    522 non-null    float64
 15  Y/C     446 non-null    float64
 16  Y/G     522 non-null    float64
 17  Rate    522 non-null    float64
 18  Awards  0 non-null      float64
dtypes: float64(16), object(3)
memory usage: 77.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 51 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year-drafted         292 non-null    int64
 1   qb-num-picked        292 non-null    int64
 2   rd-picked            292 non-null    int64
 3   num-picked           292 non-null    int64
 4   name                 292 non-null    object
 5   height (in)          292 non-null    int64
 6   weight (lbs)         292 non-null    int64
 7   nfl-team             292 non-null    object
 8   coach-tenure         292 non-null    int64
 9   drafted-team-winpr   292 non-null    float64
 10  drafted_team_ppg_rk  292 non-null    int64
 11  college              292 non-null    object
 12  conf                 292 non-null    object
 13  conf-str             292 non-null    float64
 14  p-cmp                292 non-null    int64
 15  p-att                292 non-null    int64
 16  cmp-pct              292 non-null    float64
 17  p-yds                292 non-null    int64
 18  p-ypa                292 non-null    float64
 19  p-adj-ypa            292 non-null    float64
 20  p-td                 292 non-null    int64
 21  int                  292 non-null    int64
 22  rate                 292 non-null    float64
 23  r-att                292 non-null    int64
 24  r-yds                292 non-null    int64
 25  r-avg                292 non-null    float64
 26  r-tds                292 non-null    int64
 27  nfl-starts           292 non-null    int64
 28  nfl-wins             292 non-null    int64
 29  nfl-losses           292 non-null    int64
 30  nfl-ties             292 non-null    int64
 31  nfl-winpr            292 non-null    float64
 32  nfl-qbr              292 non-null    float64
 33  nfl-cmp              292 non-null    int64
 34  nfl-att              292 non-null    int64
 35  nfl-inc              292 non-null    int64
 36  nfl-comp%            292 non-null    float64
 37  nfl-yds              292 non-null    int64
 38  nfl-tds              292 non-null    int64
 39  nfl-int              292 non-null    int64
 40  nfl-pick6            292 non-null    int64
 41  nfl-int%             292 non-null    float64
 42  nfl-sack%            292 non-null    float64
 43  nfl-y/a              292 non-null    float64
 44  nfl-ay/a             292 non-null    float64
 45  nfl-any/a            292 non-null    float64
 46  nfl-y/c              292 non-null    float64
 47  nfl-y/g              292 non-null    float64
 48  nfl-succ%            292 non-null    float64
 49  nfl-4qc              292 non-null    int64
 50  nfl-gwd              292 non-null    int64
dtypes: float64(18), int64(29), object(4)
memory usage: 116.5+ KB
None

In [16]:
nfl['nfl-y/a'].value_counts()

nfl-y/a
 0.0     74
 6.7     15
 6.3     10
 6.8     10
 6.5     10
 7.1      9
 6.1      9
 6.6      9
 7.0      8
 7.2      8
 6.4      8
 7.4      7
 6.9      7
 6.2      6
 7.3      6
 5.7      5
 5.6      5
 7.6      5
 5.9      4
 7.7      4
 5.1      4
 5.3      4
 5.5      4
 5.2      4
 7.8      3
 3.9      3
 8.4      3
 6.0      3
 5.8      3
 4.8      3
 7.5      3
 3.5      3
 5.4      2
 8.2      2
 3.4      2
 4.3      2
 4.9      2
 3.8      2
 8.0      2
 3.0      1
 9.2      1
 37.0     1
 1.7      1
 2.3      1
 8.7      1
 7.9      1
 4.4      1
 4.5      1
 4.2      1
 12.8     1
 3.7      1
 1.6      1
 5.0      1
 0.9      1
 8.5      1
 4.6      1
 4.7      1
-1.0      1
Name: count, dtype: int64

In [17]:
# ----------- CHOOSE THE STAT TO COMPARE -----------------
nfl_col = "nfl-y/a"     # NFL dataset column name
college_col = "Y/A"     # College dataset column name
# ---------------------------------------------------------

# Convert columns to numeric and drop missing
nfl_metric = pd.to_numeric(nfl[nfl_col], errors="coerce").dropna()
college_metric = pd.to_numeric(collegeQB[college_col], errors="coerce").dropna()

print("NFL sample size:", len(nfl_metric))
print("College sample size:", len(college_metric))

NFL sample size: 292
College sample size: 522

In [18]:
# ----------------- Mann-Whitney U test -------------------
u_stat, u_p = stats.mannwhitneyu(
    nfl_metric,
    college_metric,
    alternative="two-sided"
)
print("\nMannâ€“Whitney U Test")
print("U statistic:", u_stat)
print("p-value:", u_p)

Mannâ€“Whitney U Test
U statistic: 56208.0
p-value: 4.439439713221975e-10

In [19]:
# ---------------- Kolmogorovâ€“Smirnov test ----------------
ks_stat, ks_p = stats.ks_2samp(nfl_metric, college_metric)
print("\nKS Test")
print("KS statistic:", ks_stat)
print("p-value:", ks_p)

KS Test
KS statistic: 0.2766231039731276
p-value: 3.9774089825016524e-13

In [20]:
# ------------------- Permutation test ---------------------
obs_diff = nfl_metric.mean() - college_metric.mean()

combined = np.concatenate([nfl_metric.values, college_metric.values])
n_nfl = len(nfl_metric)
n_perm = 10000

count = 0
for _ in range(n_perm):
    np.random.shuffle(combined)
    fake_nfl = combined[:n_nfl]
    fake_college = combined[n_nfl:]
    diff = fake_nfl.mean() - fake_college.mean()
    if abs(diff) >= abs(obs_diff):
        count += 1

perm_p = count / n_perm
print("\nPermutation Test")
print("Observed difference in means:", obs_diff)
print("Permutation p-value:", perm_p)

Permutation Test
Observed difference in means: -3.169271243373749
Permutation p-value: 0.0

#ChatGPT

In [21]:
# qb_draft_project.py

import pandas as pd
import numpy as np
from pathlib import Path

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# =========================================================
# 1. Load data
# =========================================================

DATA_PATH = Path("/content/drive/MyDrive/STAT520/QB_ALL_TableSchema.csv")

df = pd.read_csv(DATA_PATH)

# Quick sanity check
print(df.head())
print(df.dtypes)

  RECORD_TYPE            PLAYER TEAM_OR_COLLEGE         CONF  YEAR_DRAFTED  \
0  HISTORICAL       Zach Wilson   Brigham Young  Independent        2021.0
1  HISTORICAL      Zac Robinson  Oklahoma State       Big 12        2010.0
2  HISTORICAL   Steve Bellisari      Ohio State      Big Ten        2002.0
3  HISTORICAL  John David Booty             Usc       Pac 10        2008.0
4  HISTORICAL       Brian Brohm      Louisville          Acc        2008.0

   QB_NUM_PICKED  RD_PICKED  OVERALL_PICK  HEIGHT_IN  WEIGHT_LBS  ...  \
0            2.0        1.0           2.0       75.0       210.0  ...
1           14.0        7.0         250.0       74.0       214.0  ...
2           12.0        6.0         205.0       75.0       225.0  ...
3            6.0        5.0         137.0       74.0       218.0  ...
4            3.0        2.0          56.0       74.0       230.0  ...

   NFL_STARTS  NFL_WINS  NFL_LOSSES  NFL_TIES  NFL_WIN_PR  NFL_QBR  NFL_YDS  \
0        33.0      12.0        21.0       0.0        0.36     73.2   6293.0
1         0.0       0.0         0.0       0.0        0.00      0.0      0.0
2         0.0       0.0         0.0       0.0        0.00      0.0      0.0
3         0.0       0.0         0.0       0.0        0.00      0.0      0.0
4         2.0       0.0         2.0       0.0        0.00     26.0    252.0

   NFL_TDS  NFL_INT  DRAFTED_FLAG
0     23.0     25.0             1
1      0.0      0.0             1
2      0.0      0.0             1
3      0.0      0.0             1
4      0.0      5.0             1

[5 rows x 33 columns]
RECORD_TYPE         object
PLAYER              object
TEAM_OR_COLLEGE     object
CONF                object
YEAR_DRAFTED       float64
QB_NUM_PICKED      float64
RD_PICKED          float64
OVERALL_PICK       float64
HEIGHT_IN          float64
WEIGHT_LBS         float64
CMP                float64
ATT                float64
CMP_PCT            float64
YDS                float64
TD                 float64
INTS               float64
Y_PER_ATT          float64
ADJ_Y_PER_ATT      float64
RATE               float64
R_ATT              float64
R_YDS              float64
R_AVG              float64
R_TDS              float64
NFL_STARTS         float64
NFL_WINS           float64
NFL_LOSSES         float64
NFL_TIES           float64
NFL_WIN_PR         float64
NFL_QBR            float64
NFL_YDS            float64
NFL_TDS            float64
NFL_INT            float64
DRAFTED_FLAG         int64
dtype: object

In [22]:

# =========================================================
# 2. Basic cleaning and filtering
#    - Keep only historical college QBs (not current pros)
#    - Focus on last 10 draft classes with known drafted flag
# =========================================================

print("DRAFTED_FLAG distribution after initial load:")
print(df["DRAFTED_FLAG"].value_counts(dropna=False))

# Keep rows that have a drafted flag (0/1) and some QB stats
df = df[df["DRAFTED_FLAG"].isin([0, 1])].copy()
print("\nDRAFTED_FLAG distribution after filtering for 0 or 1:")
print(df["DRAFTED_FLAG"].value_counts(dropna=False))

# Some rows are PROSPECTS with blank draft year; cast to numeric safely
df["YEAR_DRAFTED"] = pd.to_numeric(df["YEAR_DRAFTED"], errors="coerce")

# Keep only rows with a valid draft year
df = df[~df["YEAR_DRAFTED"].isna()].copy()
print("\nDRAFTED_FLAG distribution after filtering for valid YEAR_DRAFTED:")
print(df["DRAFTED_FLAG"].value_counts(dropna=False))

# Focus on last 10 draft years present in the file
last_10_years = (
    df["YEAR_DRAFTED"]
    .dropna()
    .sort_values()
    .unique()[-10:]
)
df = df[df["YEAR_DRAFTED"].isin(last_10_years)].copy()

print("Draft years used:", sorted(df["YEAR_DRAFTED"].unique()))
print("Number of QBs:", len(df))
print("\nDRAFTED_FLAG distribution after filtering for last 10 years:")
print(df["DRAFTED_FLAG"].value_counts(dropna=False))

DRAFTED_FLAG distribution after initial load:
DRAFTED_FLAG
0    523
1    292
Name: count, dtype: int64

DRAFTED_FLAG distribution after filtering for 0 or 1:
DRAFTED_FLAG
0    523
1    292
Name: count, dtype: int64

DRAFTED_FLAG distribution after filtering for valid YEAR_DRAFTED:
DRAFTED_FLAG
1    292
Name: count, dtype: int64
Draft years used: [np.float64(2014.0), np.float64(2015.0), np.float64(2016.0), np.float64(2017.0), np.float64(2018.0), np.float64(2019.0), np.float64(2020.0), np.float64(2021.0), np.float64(2022.0), np.float64(2023.0)]
Number of QBs: 114

DRAFTED_FLAG distribution after filtering for last 10 years:
DRAFTED_FLAG
1    114
Name: count, dtype: int64

In [23]:

# =========================================================
# 3. Feature selection / engineering
#    We use physical attributes + key college stats.
#    You can adjust this list depending on your analysis goals.
# =========================================================

# Example numeric features (present in your schema)
numeric_features = [
    "HEIGHT_IN",
    "WEIGHT_LBS",
    "CMP",
    "ATT",
    "CMP_PCT",
    "YDS",
    "TD",
    "INTS",
    "Y_PER_ATT",
    "ADJ_Y_PER_ATT",
    "RATE",
    "R_ATT",
    "R_YDS",
    "R_AVG",
    "R_TDS",
]

# Some rows may have all-NaN stats (e.g., depth QBs); drop them
df_numeric = df[numeric_features]
df = df[~df_numeric.isna().all(axis=1)].copy()

# Target
TARGET = "DRAFTED_FLAG"

In [24]:

# =========================================================
# 4. Train / test split
# =========================================================

# --- Diagnostic check for DRAFTED_FLAG distribution ---
print("Distribution of DRAFTED_FLAG in df before train/test split:")
print(df[TARGET].value_counts())
print("--------------------------------------------------")

X = df[numeric_features]
y = df[TARGET].astype(int)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42, stratify=y
)

Distribution of DRAFTED_FLAG in df before train/test split:
DRAFTED_FLAG
1    114
Name: count, dtype: int64
--------------------------------------------------

In [25]:
# =========================================================
# 5. Define preprocessing and models
# =========================================================

# All chosen features are numeric; scale them
preprocessor = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), numeric_features),
    ]
)

# Logistic Regression pipeline (interpretable baseline)
log_reg_clf = Pipeline(
    steps=[
        ("preprocess", preprocessor),
        ("model", LogisticRegression(max_iter=500, class_weight="balanced")),
    ]
)

# Random Forest pipeline (nonlinear, handles interactions)
rf_clf = Pipeline(
    steps=[
        ("preprocess", preprocessor),
        ("model", RandomForestClassifier(
            n_estimators=300,
            random_state=42,
            class_weight="balanced_subsample",
        )),
    ]
)

In [26]:
# =========================================================
# 6. Train and evaluate models
# =========================================================

def evaluate_model(name, model, X_tr, y_tr, X_te, y_te):
    print(f"\n=== {name} ===")

    # Add a check for the number of unique classes in y_tr
    unique_classes_tr = y_tr.nunique()
    print(f"Training target class distribution:\n{y_tr.value_counts()}")
    if unique_classes_tr < 2:
        print(f"Error: Cannot train {name}. The training data (y_tr) contains only {unique_classes_tr} unique class(es).")
        print("Please ensure your training data contains at least two classes (e.g., both drafted and undrafted players).")
        return None # Return None or raise an exception to stop further execution for this model

    model.fit(X_tr, y_tr)

    # Cross-validated ROC-AUC on training set for a quick sense of generalization
    cv_scores = cross_val_score(
        model, X_tr, y_tr, cv=5, scoring="roc_auc"
    )
    print("CV ROC-AUC (mean \u00b1 std): "
          f"{cv_scores.mean():.3f} \u00b1 {cv_scores.std():.3f}")

    # Test-set performance
    y_pred = model.predict(X_te)
    if hasattr(model, "predict_proba"):
        y_proba = model.predict_proba(X_te)[:, 1]
        print("Test ROC-AUC:", roc_auc_score(y_te, y_proba))
    print("Classification report:")
    print(classification_report(y_te, y_pred))

    return model


log_reg_model = evaluate_model(
    "Logistic Regression", log_reg_clf, X_train, y_train, X_test, y_test
)

rf_model = evaluate_model(
    "Random Forest", rf_clf, X_train, y_train, X_test, y_test
)

=== Logistic Regression ===
Training target class distribution:
DRAFTED_FLAG
1    85
Name: count, dtype: int64
Error: Cannot train Logistic Regression. The training data (y_tr) contains only 1 unique class(es).
Please ensure your training data contains at least two classes (e.g., both drafted and undrafted players).

=== Random Forest ===
Training target class distribution:
DRAFTED_FLAG
1    85
Name: count, dtype: int64
Error: Cannot train Random Forest. The training data (y_tr) contains only 1 unique class(es).
Please ensure your training data contains at least two classes (e.g., both drafted and undrafted players).